{% extends 'base.html' %}
{% block content %}
{% load static %}
    <nav>
        <img style="width: 200px"
                     src = "{% static 'img/images.png' %}">
    </nav>
    <div id="feeds" class="post-container">
        {% for post in posts %}
            <article class="post">
                <header class="post-header">
                    {% if post.user.profile_image %}
                        <img src="{{post.user.profile_image_url}}">
                    {% endif %}
                    <span>{{post.user.username}}</span>
                </header>
            </article>
        {% endfor %}
    </div>
{% endblock %}